<div class="bootstrap-wrapper">

    <div class="container">

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/examlogo.jpg" alt="">
                </div>
                <h1 class="text-center">Register here</h1>

                <form>

                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>

                </form>
            </div>

        </div>

    </div>
</div>